<!-- <mat-toolbar color="primary"> -->
    <!-- <mat-toolbar-row> -->
       <!--<span><a mat-button href="" style="font-size: larger;">TestSuite-Runner</a></span>--> 
        <!--<span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>-->
         <!--<a mat-button  style="padding-left: 900px; font-weight: bold;" *ngIf="!loginService.isUserLoggedIn()" routerLink="/signup" class="nav-link">SignUp</a> --> 
        <!-- <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/viewPortal" class="nav-link">View Portal</a>
        <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/addportal" class="nav-link">Add Portal</a>
        <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/adminPage" class="nav-link">Admin Page</a>
         <a mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
         -->
    <!-- </mat-toolbar-row>
</mat-toolbar> -->
<nav class="header-nav navbar navbar-expand-lg static-top bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="./assets/images/cognizant-logoHM.png"></a>

    <!-- Links -->
    <div>
       <div class="nav-item">
          <a class="nav-link hdSty" href="#">Test Suite Runner</a>
       </div>
    </div>
    <ul class="navbar-nav ml-auto navbar-top-links">
       <li *ngIf="loginService.isUserLoggedIn()" class="nav-item user-text pt-2">
          <div class="avatar"><img src="./assets/images/userIcon.png"></div>
          <div class="userData">
             <span class="hello">{{uname}}</span>
             <span class="name">Sr. Manager</span>
          </div>
       </li>
       <li *ngIf="loginService.isUserLoggedIn()" class="nav-item">
          <a routerLink="/logout" class="nav-link">
             <div><img src="./assets/images/logout.png"></div>
             <div class="userData">
                Logout
             </div>
            </a>
       </li>

    </ul>
 </nav>
