<div id="page-container" class="main-content" style="background-image: none;background-color: white !important;">
   <div id="content-wrap">
      <div class="mainSection">
         <div class="col-12 row pad0">
            <div class="col-6 pad0">
               <h1 class="headingsty">View Portal</h1>
               <p class="smltxt">Already added portals details...</p>
            </div>
            <div class="col-6 pad0 text-right">
               <button type="button"  class="btn btn-add" (click)="btnClick();"><img src="./assets/images/plssml.png" class="pr-2">Add New
                  Portal</button>
                  <button type="button"  class="btn btn-add" (click)="btnAdminClick();">  AdminPage
                  </button>
            </div>
         </div>
         <div class="col-12 row pad0">
            <div class="col-10 pad0">
               <div class="form-group col-12 row pad0">
                  <label class="pad0" style="padding-top:3px !important;font-weight: bold;margin-right:10px !important;">Search :</label>
                  <input type="text" class="form-control col-3">
               </div>
            </div>
            <div class="col-2 pad0 text-right">
              <div class="form-group col-12 row pad0">
                           <label for="exampleFormControlSelect1" class=" text-right pt-2" style="margin-right:10px;">Browser :</label>
                           <select class="form-control " style="width:120px !important">
                              <option [selected]="true">Select...</option>
                              <option >Chrome</option>
                           <option *ngFor="let browser of Browser" [ngValue]="browser">{{browser}}</option>
                           </select>
                     </div> 
                  
            </div>
         </div>
         <div class="col-12 row pad0">
            <div class="table-responsive" id="viewDivTable">
            
               <table mat-table [dataSource]="portalInfo"  matSort class="mat-elevation-z8">

                 <!--- Note that these columns can be defined in any order.
                       The actual rendered columns are set as a property on the row definition" -->
               
                 <!-- Position Column -->
                 <ng-container matColumnDef="PortalID">
                   <th style="color:white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> PortalID </th>
                   <td mat-cell *matCellDef="let element"> {{element.portalID}} </td>
                 </ng-container>
                 <ng-container matColumnDef="BusinessUnit">
                   <th style="color: white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> BusinessUnit </th>
                   <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
                 </ng-container>
                 <ng-container matColumnDef="SubBusinessUnit">
                   <th style="color: white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> SubBusinessUnit </th>
                   <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                 </ng-container>
                 <ng-container matColumnDef="ClientName">
                   <th style="color: white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> ClientName </th>
                   <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                 </ng-container>
                 <!-- <ng-container matColumnDef="Navigation">
                   <th style="font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> Navigation </th>
                   <td mat-cell *matCellDef="let element"> {{element.navigate}} </td>
                 </ng-container> -->
                 <!-- Name Column -->
                 <ng-container matColumnDef="PortalName">
                   <th style="color: white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> PortalName </th>
                   <td mat-cell *matCellDef="let element"> {{element.portalName}} </td>
                 </ng-container>
                 <ng-container matColumnDef="PortalUrl">
                   <th style="color: white; font-weight: bold; font-size: 90%;" mat-header-cell *matHeaderCellDef mat-sort-header> Portal Url </th>
                   <td mat-cell *matCellDef="let element"> {{element.portalUrl}} </td>
                 </ng-container>
                 <!-- Weight Column -->
                 <ng-container matColumnDef="ModuleName">
                   <th style="color: white; font-weight: bold; font-size: 90%; " mat-header-cell *matHeaderCellDef mat-sort-header> Module Name </th>
                   <td mat-cell style="width: 15%;" *matCellDef="let element"> {{element.moduleName}} </td>
                 </ng-container>
                  
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="Fields">
                   <th style="color: white; font-weight: bold; font-size: 90%;padding-left: 20px;" mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
                   <td mat-cell  style="padding-left: 15px;width: 15%;" *matCellDef="let element"> 
                     <a  [routerLink]="[]" (click)="getField(element,'field')"  > view fields </a>
                   </td>
                   
                 </ng-container>
                 <!-- <ng-container matColumnDef="SampleData">
                   <th style="font-weight: bold; font-size: 90%;padding-left: 20px;" mat-header-cell *matHeaderCellDef mat-sort-header> SampleData </th>
                   <td mat-cell  style="padding-left: 15px;width: 15%;" *matCellDef="let element"> 
                    <a [routerLink]="[]" (click)="getField(element,'sampleData')"  > view sampleData </a> 
              
                   </td> 
                   
                 </ng-container> -->
                 <ng-container matColumnDef="Status">
                   <th style="color: white; font-weight: bold; font-size: 90%;padding-left: 20px;" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                   <td [ngStyle]="element.message=='Completed'?{'background-color':'green'} : {'background-color': 'yellow'}" mat-cell *matCellDef="let element">{{element.message}}
                   
                   </td>
                 </ng-container>
                 <ng-container matColumnDef="Result">
                   <th style="color: white; font-weight: bold; font-size: 90%;padding-left: 20px;" mat-header-cell *matHeaderCellDef mat-sort-header> Result</th>
                   <td  mat-cell *matCellDef="let element">
                   
                    <a [routerLink]="['/viewResult']" [queryParams]="{q:element.folderName}">View Result</a>
                   </td>
                 </ng-container>
                 <ng-container matColumnDef="Action">
                  <th style="color: white; font-weight: bold; font-size: 90%;padding-left: 20px;" mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"><a (click)="navigatePortal(element)">
                     <img class="pr-1" src="./assets/images/GP2.png">
                  </a>
                  <a>
                     <img class="pr-1" src="./assets/images/edit.png">
                  </a>
                  <a>
                     <img class="pr-1" src="./assets/images/GP5.png">
                  </a>
                  <a (click)="deletPortal(element)">
                     <img class="pr-1" src="./assets/images/delete.png">
                  </a>
               </td>
                  <!-- <td mat-cell *matCellDef="let element" >
                      <button  style="margin-left: 28px;" mat-raised-button (click)="navigatePortal(element)" > <mat-icon color="accent">fast_forward</mat-icon>Run</button>
                  </td> -->
              </ng-container>
                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>
               
            </div>
         </div>
      </div>
   </div>
   <!-- <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator> -->
  
   <!-- <div class="col-sm-12 col-md-7" style="padding-left: 800px;"><div class="dataTables_paginate paging_simple_numbers" id="viewTb_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="viewTb_previous"><a href="#" aria-controls="viewTb" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="viewTb" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="viewTb_next"><a href="#" aria-controls="viewTb" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div> -->
   
</div>

