<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Test Suite Runner</title>
   <!-- Bootstrap core CSS -->
   <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
   <link href="./assets/css/dataTables.bootstrap4.min.css" rel="stylesheet">
   <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="./assets/css/style.css" rel="stylesheet">

</head>

<body style="background-image: none;">
   <div id="page-container" class="main-content">
      <div id="content-wrap">

         <nav class="header-nav navbar navbar-expand-lg static-top bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="./assets/images/cognizant-logoHM.png"></a>

            <!-- Links -->
            <div>
               <div class="nav-item">
                  <a class="nav-link hdSty" href="#">Test Suite Runner</a>
               </div>
            </div>
            <ul class="navbar-nav ml-auto navbar-top-links">
               <li class="nav-item user-text pt-2">
                  <div class="avatar"><img src="./assets/images/userIcon.png"></div>
                  <div class="userData">
                     <span class="hello">John, Smith</span>
                     <span class="name">Sr. Manager</span>
                  </div>
               </li>
               <li class="nav-item">
                <a routerLink="/logout" class="nav-link">
                     <div><img src="./assets/images/logout.png"></div>
                     <div class="userData">
                        Logout
                     </div>
                  </a>
               </li>

            </ul>
         </nav>
         <div class="mainSection">
            <div class="col-12 row pad0">
               <div class="col-6 pad0">
                  <h1 class="headingsty">Add New Portal</h1>
                  <p class="smltxt">View Portal /</p>
               </div>
               <div class="col-6 pad0 text-right">
                  <button type="button" class="btn back-btn"><img src="./assets/images/backicon.png" class="pr-2">Back</button>
               </div>
            </div>
            <div class="col-12 row pad0">
               <div class="col-12 row pad0">
                  <div class="form-group col-4 pl-0">
                     <label for="exampleFormControlSelect1">Business Unit * </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                        <option>select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                     </select>
                  </div>
                  <div class="form-group col-4">
                     <label for="exampleFormControlSelect1">Sub Business Unit * </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                        <option>select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                     </select>
                  </div>
                  <div class="form-group col-4">
                     <label for="exampleFormControlSelect1">Client Name *</label>
                     <select class="form-control" id="exampleFormControlSelect1">
                        <option>select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                     </select>
                  </div>
               </div>
               <div class="col-12 row pad0">
                  <div class="form-group col-4 pl-0">
                     <label for="exampleFormControlSelect1">Portal Name * </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                        <option>select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                     </select>
                  </div>
                  <div class="form-group col-4">
                     <label for="exampleFormControlSelect1">Module Name * </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                        <option>select</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                     </select>
                  </div>
                  <div class="form-group col-4">
                     <label for="exampleFormControlSelect1">User Name for Portal</label>
                     <input type="text" class="form-control" placeholder="Enter...">

                  </div>
               </div>
               <div class="col-12 row pad0">
                  <div class="form-group col-4 pl-0">
                     <label for="exampleFormControlSelect1">Password </label>
                     <input type="password" class="form-control" placeholder="Enter...">

                  </div>
                  <div class="form-group col-8">
                     <label for="exampleFormControlSelect1">Portal URL *</label>
                     <input type="text" class="form-control" placeholder="Enter...">

                  </div>
               </div>
            </div>
            <div class="col-12 row pad0">
               <button type="submit" class="btn btn-add mr-2" data-toggle="modal" data-target="#addFields">
                  <img src="./assets/images/plssml.png" class="pr-2">Add Fields</button>
               <button type="submit" class="btn btn-add mr-2"><img src="./assets/images/plssml.png" class="pr-2">Add Sample
                  Data</button>
            </div>
            <div class="col-12 mt-5 text-center">
               <button type="submit" class="btn btn-reset mr-2">Reset</button>
               <button type="submit" class="btn btn-save mr-2" data-toggle="modal"
                  data-target="#savePortal">Save</button>
            </div>
         </div>
      </div>

      <!-- savePortal Modal -->
      <div class="modal fade" id="savePortal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="col-12  text-center mt-3 mb-3">
                     <h5><strong>New Portal Added Successfully !</strong></h5>
                  </div>

                  <div class="col-12 mt-1 text-center">
                     <button type="submit" class="btn back-btn mr-2">Ok</button> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- addFields Modal -->
      <div class="modal fade" id="addFields" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Fields</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <h1 class="headingsty">File Upload</h1>
                  <div class="col-12 pad0 row">
                     <div class="form-group  col-12 row pad0">
                        <label for="exampleFormControlSelect1" class="col-12 pad0 pb-2">Add Fields *</label>
                        <div class="custom-file col-9 mt-2">
                           <input type="file" class="custom-file-input" id="customFile">
                           <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="col-3 mt-2">
                           <button type="button" class="btn btn-ref">Refer Template</button>
                        </div>
                     </div>
                  </div>
                  <hr>
                  <h1 class="headingsty"> Or Add Fields</h1>
                  <div class="col-12 pad0 row">
                     <div class="col-12 pad0 row">
                        <div class="form-group col-4 pl-0">
                           <label for="exampleFormControlSelect1">Field ID *</label>
                           <input type="text" class="form-control" placeholder="Enter...">

                        </div>
                        <div class="form-group col-4 ">
                           <label for="exampleFormControlSelect1">Field Name *</label>
                           <input type="text" class="form-control" placeholder="Enter...">

                        </div>
                        <div class="form-group col-4 ">
                           <label for="exampleFormControlSelect1">Field Type *</label>
                           <select class="form-control" id="exampleFormControlSelect1">
                              <option>Select</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 pad0 row">
                        <div class="form-group col-4 pl-0">
                           <label for="exampleFormControlSelect1">Field Info *</label>
                           <input type="text" class="form-control" placeholder="Enter...">

                        </div>
                        <div class="form-group col-4 ">
                           <label for="exampleFormControlSelect1">Portal ID *</label>
                           <input type="text" class="form-control" placeholder="Enter...">

                        </div>
                        <div class="form-group col-4 ">
                           <label for="exampleFormControlSelect1">Field Name Patterns *</label>
                           <select class="form-control" id="exampleFormControlSelect1">
                              <option>Select</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 pad0 row">
                        <div class="form-group col-4 pl-0">
                           <label for="exampleFormControlSelect1">Test Data *</label>
                           <input type="text" class="form-control" placeholder="Enter...">

                        </div>
                     </div>
                  </div>
                  <div class="col-12 mt-5 text-center">
                     <button type="submit" class="btn btn-reset mr-2">Reset</button>
                     <button type="submit" class="btn btn-save mr-2">ADD/SAVE</button>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <footer id="footer">
         ©2020 Cognizant, All Rights Reserved.
      </footer>
   </div>
   <script src="./assets/js/jquery-3.5.1.min.js"></script>
   <script src="./assets/js/bootstrap.min.js"></script>
   <script src="./assets/js/jquery.dataTables.min.js"></script>
   <script src="./assets/js/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {

      });
   </script>
</body>

</html>
