
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<form (ngSubmit)="submit()" [formGroup]="form">
<div class="container" style="padding-top: 25px;">
<h2 style="color:#7a0099;">Add Portal to TestSuiteRunner</h2>
  <div class="col-sm-5" style="padding-top: 20px;">
    <div class="form-group">
        <label for="exampleInputEmail1" style="font-weight: bold;color:#7a0099;">Industry*</label>
        <select class="custom-select" (change)="changeDrop($event,'industry')" [(ngModel)]="industry" formControlName="industry" >
            <option [selected]="true">Choose your Industry</option>
            <option *ngFor="let industry of Industry" [ngValue]="industry">{{industry}}</option>
         </select>
     </div>
       <div class="form-group">
        <label for="exampleInputEmail1" style="font-weight: bold;color:#7a0099;">Client Name*</label>
        <select class="custom-select" (change)="changeDrop($event,'category')" [(ngModel)]="clientName" formControlName="clientName">
            <option [selected]="true">Choose your Client</option>
            <option *ngFor="let clientName of ClientName" [ngValue]="clientName">{{clientName}}</option>
         </select>
         </div>
    <div class="form-group">
      <label for="exampleInputEmail1" style="font-weight: bold;color:#7a0099;">Navigate Field*</label>
      <input type="text" class="form-control" formControlName="navigate" [(ngModel)]="navigate" id="navigate" aria-describedby="emailHelp" >
       </div>
       <div class="form-group">
        <label for="exampleInputEmail1" style="font-weight: bold;color:#7a0099;">Portal Name*</label>
        <select class="custom-select" (change)="changeDrop($event,'portal')"  [(ngModel)]="portalName" formControlName="portalName">
          <option [selected]="true"  >Choose your ClientPortal</option>
          <option *ngFor="let portalName of PortalName" [ngValue]="portalName">{{portalName}}</option>
       </select>
         </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bold;color:#7a0099;">Module Name*</label>
      <select class="custom-select" (change)="changeDrop($event,'module')"  [(ngModel)]="moduleName" formControlName="moduleName">
        <option [selected]="true">Choose your ClientModule</option>
        <option *ngFor="let moduleName of ModuleName" [ngValue]="moduleName">{{moduleName}}</option>
     </select>
    </div> 
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bold;color:#7a0099;">User Name for Portal</label>
      <input type="text" class="form-control" [(ngModel)]="userNameForPortal" formControlName="userNameForPortal" id="user Name" >
    </div> 
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bold;color:#7a0099;">Password</label>
      <input [type]="hide ? 'password': 'text'" class="form-control" [(ngModel)]="password" formControlName="password" id="password" >
      <i style="padding-left: 500px;" class="material-icons" matSuffix (click)="hide =!hide"> {{hide ? 'visibility' : 'visibility_off'}}</i>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bold;color:#7a0099;">Portal URL*</label>
      <input type="text" class="form-control" [(ngModel)]="portalUrl" formControlName="portalUrl" id="portal Name" >
    </div> 
    <label style="font-weight: bold;color:#7a0099;">Add fields* </label>
      <div class="input-group">
        
        <div class="input-group-prepend">
          
        </div>
        <div class="custom-file">
          <input type="file" class="form-control" (change)="onFileChange($event,'fields')" placeholder="Upload file" accept=".xlsx">
             <a href="http://localhost:8083/testSuiteAPIService/templates/fieldData.xlsx" target="new">Refer template</a>
        </div>
      </div>
      <label style="font-weight: bold;padding-top: 15px;color:#7a0099;">Add Sample-Data* </label>
      <div class="input-group">
      
        <div class="input-group-prepend">
          
        </div>
        <div class="custom-file">
          <input type="file" class="form-control" (change)="onFileChange($event,'sample')" placeholder="Upload file" accept=".xlsx">
           <a href="http://localhost:8083/testSuiteAPIService/templates/finalData.xlsx" target="new">Refer template</a>

           
        </div>
      </div>
      <button type="submit"  style="margin-top: 25px;"  class="btn btn-primary">Submit</button>
      </div>
</div>
</form>

