<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Test Suite Runner</title>
      <!-- Bootstrap core CSS -->
      <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
      <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="./assets/css/login.css" rel="stylesheet">
   </head>
   <body style= "background-image: url('./assets/images/login-bg.jpg');">
      <div id="page-container" class="main-content">
         <div id="content-wrap">
            <div class="col-12 row">
               <div class="col-6 bglogin">
                  <div class="login-main-text">
                     <img src="./assets/images/Cognizant-Big-white-Logo.png">
                     <h2 class="headingstyle">Test Suite Runner</h2>
                  </div>
                  <div class="welcometext">
                     <h4>Welcome !</h4>
                     <p>to <span class="greentxt">Test Suite Runner </span>Application. Don't have an account ?
                        <span class="greentxt"><a href="/signup" class="regsty">Register</a></span> here.
                     </p>
                  </div>
                  <div class="boxdata">
                     <div class=""><strong>Message/Note:</strong></div>
                     <p class="lgtxt">Application related messages or notifications here...</p>
                  </div>
               </div>
            
               <div class="col-6">
                  
                  <div class="form-reg">
                     <h3 class="loginheading">Register</h3>
                     <form (ngSubmit)="submit()" [formGroup]="form">
                     <div class="mb-3">Please fill in this form to create an account!</div>
                     
                     <div class="col-12 row pad0">
                        <div class="form-group col-6 pl-0">
                           <label for="exampleFormControlSelect2">Business Unit</label>
                           <select class="form-control" (change)="changeDrop($event,'industry')" [(ngModel)]="industry" formControlName="industry" >
                              <option [selected]="true">Choose your Industry</option>
                              <option *ngFor="let industry of Industry" [ngValue]="industry">{{industry}}</option>
                           </select>
                        </div>
                        <div class="form-group col-6 ">
                           <label for="exampleFormControlSelect2">Sub Business Unit</label>
                           <!-- <select class="form-control" id="exampleFormControlSelect2">
                              <option>select</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select> -->
                           <select class="form-control" (change)="changeDrop($event,'category')" [(ngModel)]="categoryName" formControlName="categoryName">
                              <option [selected]="true">Choose your ClientCategory</option>
                              <option *ngFor="let categoryName of CategoryName" [ngValue]="categoryName">{{categoryName}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 row pad0">
                        <div class="form-group col-6 pl-0">
                           <label for="exampleFormControlSelect2">Client Name</label>
                           <!-- <select class="form-control" id="exampleFormControlSelect2">
                              <option>select</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select> -->
                           <select class="form-control" (change)="changeDrop($event,'client')"  [(ngModel)]="clientName" formControlName="clientName">
                              <option [selected]="true"  >Choose your ClientName</option>
                              <option *ngFor="let clientName of ClientName" [ngValue]="clientName">{{clientName}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 row pad0">
                        <div class="form-group col-6 pl-0">
                           <label for="exampleFormControlSelect2">User Name</label>
                           <input type="text" class="form-control" formControlName="username">
                        </div>
                        <div class="form-group col-6 ">
                           <label for="exampleFormControlSelect2">Email ID</label>
                           <input type="text" class="form-control" formControlName="emailId">
                        </div>
                     </div>
                     <div class="col-12 row pad0">
                        <div class="form-group col-6 pl-0">
                           <label for="exampleFormControlSelect2">Password <img src="./assets/images/infosml.png"></label>
                           <input type="text" class="form-control" formControlName="password" [(ngModel)]="pass" (keyup)="validatepassword()">
                        </div>
                        <div class="form-group col-6">
                           <label for="exampleFormControlSelect2">Confirm Password</label>
                           <input type="password" class="form-control" formControlName="confirmpassword" [(ngModel)]="cepass" (keyup)="validatepassword()">
                        </div>
                     </div>
                     <div class="col-12 row pad0">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="customCheck1">
                           <label class="custom-control-label" for="customCheck1" style="padding-left: 15px;"> I agree to the Terms and Conditions and
                           Privacy Policy</label>
                        </div>
                     </div>
                     <div class="mt-2 mb-2">
                        <button type="submit" class="btn btn-grn mb-2 mt-2">Signup</button>
                     </div>
                  </form>
                     <p>Have already an account ? <a href=""><strong class="ancolor">Login</strong></a> here.</p>
                  
                  </div>
               
               </div>
            </div>
         </div>
         </div>
      <script src="js/jquery-3.5.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
   </body>
</html>
